@font-face {
 font-family: "Poppins";
 src: url("./assets/fonts/Poppins-Regular.ttf") format("woff2"),
}

.App {
  padding: 100px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-transform: capitalize;
  font-size: 24px;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
}

.content {
  width: 850px;
}

.content-input {
  display: flex;
}

.left-part{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.results {
  width: 290px;
  height: 300px;
  background-color: #C4C4C4;
  border-radius: 10px;
  overflow: auto;
}

.results {
  text-align: center;
}

.arrow {
  display: flex;
  flex: 1;
  justify-content: center;
  height: calc(100% - 63px);
  align-items: center;
}

.disable:hover {
  cursor: not-allowed !important;
}

.arrow > img:hover {
  cursor: pointer;
}

.arrow > img {
  width: 40px;
  height: 40px;
}

.selected-img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  background-color: #C4C4C4;
  object-fit: contain;
}

.label-file {
  cursor: pointer;
  background-color: #C4C4C4;
  width: auto;
  color: #5f5f5f;
  padding: 10px;
  border-radius: 5px;
  margin-top: 22px;
}

.label-file:hover {
  background-color: #949494;
  color: white;
}

input {
  display: none;
}

.line-content {
  display: flex;
}

.line-content > img {
  width: 16px;
}

.line-content > p{
  margin-left: 20px;
}

.line {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  border-radius: 5px;
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.line:hover {
  cursor: pointer;
}

.line > img {
  width: 20px;
  z-index: 1;
}

.line > img:hover {
  cursor: pointer;
}

.sub-line {
  display: flex;
  margin-left: 5px;
  border-left: 2px solid #c4c4c4;
  padding-left: 20px;
}

.sub-line > img {
  width: 16px;
}

.sub-line > p {
  margin-left: 20px;
}

.result {
  border-bottom: 1px solid #e4e4e4;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.results::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
  border-radius: 45px;
}

.results::-webkit-scrollbar-thumb:hover  {
  background: rgb(92, 92, 92);
}

.results::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

.first-result {
  font-size: 20px;
}

.arrow > img {
  animation: test 1s alternate infinite cubic-bezier(0.8, 0.04, 0.54, 0.48);
}

@keyframes test {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.2);
  }
}

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
}

.header-right > img {
  width: 20px;
  margin-left: 20px;
}

.header-right > img:hover {
  cursor: pointer;
}

.header-right > input {
  display: block;
  background: none;
  border: none;
  padding: 10px;
}